@model ContactFormEmailer.Web.Models.ContactUsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="cf-wrapper">
        @using (Html.BeginForm(MVC.Home.ActionNames.ContactUs, MVC.Home.Name, FormMethod.Post, new { @id = "contact-form", @name = "contact-form" }))
        {
        <div class="col-sm-6 col-xs-12 no-padding">
            <label for="cfname">@ContactFormEmailer.Web.Resources.Home.ContactUs.Name*</label>
            @Html.TextBoxFor(x => x.ContactUsInfo.Name, new { @id = "cfname", @maxlength = "100" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.Name)
        </div>
        <div class="col-sm-6 col-xs-12 no-padding">
            <label for="cfcity">@ContactFormEmailer.Web.Resources.Home.ContactUs.City*</label>
            @Html.TextBoxFor(x => x.ContactUsInfo.City, new { @id = "cfcity", @maxlength = "100" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.City)
        </div>
        <div class="col-sm-6 col-xs-12 no-padding">
            <label for="cfsubj">@ContactFormEmailer.Web.Resources.Home.ContactUs.ReasonForMessage*</label>
            @Html.TextBoxFor(x => x.ContactUsInfo.ReasonForMessage, new { @id = "cfsubj", @maxlength = "100" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.ReasonForMessage)
        </div>
        <div class="col-sm-6 col-xs-12 no-padding">
            <label for="cfphone">@ContactFormEmailer.Web.Resources.Home.ContactUs.MobileNumber*</label>
            @Html.TextBoxFor(x => x.ContactUsInfo.MobileNumber, new { @id = "cfphone", @maxlength = "100" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.MobileNumber)
        </div>
        <div class="col-sm-6 col-xs-12 no-padding">
            <label for="cfemail">@ContactFormEmailer.Web.Resources.Home.ContactUs.EmailAddress*</label>
            @Html.TextBoxFor(x => x.ContactUsInfo.EmailAddress, new { @id = "cfemail", @maxlength = "100" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.EmailAddress)
        </div>
        <div class="col-sm-6 col-xs-12 no-padding">
            <label for="cfemailc">@ContactFormEmailer.Web.Resources.Home.ContactUs.ConfirmEmailAddress*</label>
            @Html.TextBoxFor(x => x.ContactUsInfo.ConfirmEmailAddress, new { @id = "cfemailc", @maxlength = "100" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.ConfirmEmailAddress)
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <label for="cfmsg">@ContactFormEmailer.Web.Resources.Home.ContactUs.Message*</label>
            @Html.TextAreaFor(x => x.ContactUsInfo.Message, new { @id = "cfmsg", @rows = "6" })
            @Html.ValidationMessageFor(x => x.ContactUsInfo.Message)
        </div>
            <p class="center-align"><button type="submit" class="ww-blue-btn">@ContactFormEmailer.Web.Resources.Home.ContactUs.SendMessage <i class="fa fa-chevron-right"></i></button><span>*Required fields</span></p>
        }
    </div><!--cf-wrapper-->
</body>
